@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.flex{
  display: flex;
}

.wp100{
  width:100%
}

.direction-column{
  flex-direction: column;
}

.align-center{
  align-content: center;
}

.justify-center{
  justify-content: center;
}

.mr20{
  margin-right: 20px;
}

.mt40{
  margin-top: 40px;
}

.mb40{
  margin-bottom: 40px;
}

.w200{
  width: 200px;
}

.pointer { 
  cursor: pointer;
}

.bg-light-grey{
  background-color: lightgray;
}

.tac{
  text-align: center;
}

.hvp100{
  height: 100vh;
}

.h200{
  height: 200px;
}

.w200{
  width: 200px;
}

.bg-red{
  background-color: red;
}